.header-w{
    position: relative;
    height:100%;
    /* overflow: hidden; */
}

.header-w .logo{
    width: 190px;
    height: 120px;
    position: absolute;
    top:10px;
}

.header-w .logo a{
    display: block;
    width:100%;
    height:100%;
    position: absolute;
    background-color: #fff;
}

.header-w .logo a.logo-title{
    background-image: url("http://misc.360buyimg.com/mtd/pc/index_2019/1.0.0/assets/sprite/header/sprite.png");
}

.header-w .logo a.logo-bg{
    display:none;
    background-image: url("http://img1.360buyimg.com/da/jfs/t1/31918/19/6335/274370/5c90a8beEefd9bfb9/e24970e34ce77262.gif?v=0.9911929362727423");
}

.header-w .search{
    position: absolute;
    left: 260px;
    top: 25px;
    width: 546px;
    height: 32px;
    border:2px solid #e2231a;
    background-color: #fff;
}

.header-w .search #search-inp{
    padding: 2px 44px 2px 17px;
    width: 425px;
    height: 26px;
    line-height:26px;
    font-size:12px;
    position: absolute;
    left:0;
    border:1px solid transparent;
}

.header-w .search #search-btn{
    position: absolute;
    right:0;
    width: 58px;
    height: 32px;
    line-height:32px;
    font-size:20px;
    color:#fff;
    background-color: #e1251b;
    font-weight: bold;
}

.header-w .search .search-cart{
    width: 130px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    right: -150px;
    top: -1px;
    border:1px solid #e3e4e5;
    line-height: 34px; 
    text-align: center;
    color:#e1251b;
}

.header-w .search .search-cart a{
    color:#e1251b;
}

.header-w .search .search-cart .search-cart-content{
    position: relative;
    display: inline-block;
}

.header-w .search .search-cart .search-cart-content .shopping-count{
    position: absolute;
    left: 10px;
    top: 5px;
    padding: 1px 3px;
    font-size:12px;
    line-height:12px;
    color:#fff;
    background-color: #e1251b;
    border-radius: 7px;
}

.header-w .search .search-cart .search-cart-content .iconfont{
    margin-right:10px;
}
/* 下拉单 */
.header-w .search .search-list{
    width:488px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #eee;
    top:34px;
    z-index: 10;
    display:none;
}

.header-w .search .search-list li{
    padding:0 20px;     
    line-height: 24px;
    height: 24px;
    cursor: pointer
}

.header-w .search .search-list li:hover{
    background-color: #ddd;
}

.header-w .hotwords{
    position: absolute;
    left: 260px;
    top: 65px;
    width: 550px;
    height: 20px;
    line-height: 20px;
}

.header-w .hotwords a{
    margin-right: 10px;
    color:#999;
}

.header-w a.red{
    color:#e1251b !important;
    font-weight: bold;
}

.header-w .navitems{
    height:40px;
    padding-top:20px;
    position: absolute;
    left:203px;
    bottom:0;
}

.header-w .navitems li{
    float:left;
    height:40px;
    line-height:40px;
    font-size:15px;
    margin:0 11px;
}

.header-w .navitems li a{
    color:#333;
}

.header-w .navitems li a:hover{
    color:red;
}

