/* 初始化样式 */
html,body,div,span,applet,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	font-weight:normal;
	vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}
ol,ul,li {
	list-style:none;
}
blockquote,q {
	quotes:none;
}
blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
th,td {
	vertical-align:middle;
}
a {
	outline:none;
	color:#16418a;
	text-decoration:none;
}
a:focus {
	outline:none;
}
input:focus,select:focus,textarea:focus {
	outline:-webkit-focus-ring-color auto 0;
}
button{
    cursor: pointer;
}

body,html{
    width:100%;
    height:100%;
    overflow: hidden;
}

#app{
    width:100%;
    height:100%;
    background-color:#F6F6FA;
}

.side{
    width:220px;
    height:100%;
    background-color:#2A3F54;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.49);
    float:left;
    position: relative;
    z-index: 2;
}

.side .side-container{
    width:100%;
    height: 100%;
    padding:100px 20px;
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size:18px;
}

.side .side-container .item{
    width:100%;
    height:100px;
    line-height:4;
    border-radius:50px;
    text-align: left;
    position: relative;
    padding-left:30px;
    cursor: pointer;
}

.side .side-container .item i{
    display:inline-block;
    width:25px;
    height:25px;
    vertical-align: middle;
    margin-right:15px;
    background-size: 100% 100%;
}

.side .side-container .item:nth-child(1) i{
    background-image: url('./image/用户\ 面\).png');
}

.side .side-container .item:nth-child(2) i{
    background-image: url('./image/线下活动.png');
}

.side .side-container .item:nth-child(3) i{
    background-image: url('./image/实名认证.png');
}

.side .side-container .item:nth-child(4) i{
    background-image: url('./image/婚姻恋爱.png');
}

.side .side-container .item:nth-child(5) i{
    background-image: url('./image/用户组织.png');
}

.side .side-container .item:nth-child(6) i{
    background-image: url('./image/消息推送配置.png');
}

.side .side-container .item:nth-child(7) i{
    background-image: url('./image/电脑.png');
}

.side .side-container .item:nth-child(8) i{
    background-image: url('./image/实名认证.png');
}
.side .side-container .item:nth-child(9) i{
    background-image: url('./image/数据\ \(2\).png');
}

.side .side-container .item:nth-child(10) i{
    background-image: url('./image/活动目录配置.png');
}



.side .side-container .item span{
    font-size: 20px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.5;
}

.side .side-container .item.active{
    background: #ccc;
    box-shadow: 2px 1px 3px rgba(0, 0, 0, .3) inset;
}

.side .side-container .item.active span{
    color: #2A3F54;
}

.header{
    width:100%;
    height:100px;
    background-color:#fff;
    border-bottom:2px solid #ccc;
    position: relative;
}

.header .header-right{
    display:flex;
    align-items: center;
    padding:20px 50px;
    float:right;
}

.header .header-right .nav-item{
    margin:0 10px;
    cursor: pointer;
}

.header .header-right .nav-item img{
    width:20px; 
    height:20px;
    border-radius: 50%;
}

.header .header-title{
    position: absolute;
    left:240px ;
    bottom:0;
    height:30px;
    font-size:20px;
}

.header .header-title .layui-icon-prev{
    float: left;
    margin-right:20px;
    margin-top:3px;
    font-size:20px;
    color:#4FCA8B;
}
.header .header-title .header-title-box{
    float:left;
    width:140px;
    height:30px;
    line-height: 30px;
    text-align: center;
    background-color:#F6F6FA;
    font-size:14px;
    vertical-align: middle;
    color:#4FCA8B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:2px solid #ccc;
    border-bottom:none;
}

.header .header-title .header-title-box span{
    margin-right:20px;
}
.header .header-title .header-title-box .layui-icon-close{
    vertical-align: middle;
}

.nav-top{
    height:80px;
    width:calc(100% - 220px);
    float:left;
    padding:20px;
    box-sizing: border-box;
}

.control{
    width: 95%;
    height:120%;
    white-space: nowrap;
    overflow: hidden;
    float:left;
    margin-left:10px;
}

.control button{
    width:130px;
    margin-right:5px;
    height:40px;
    background-color: #fff;
    border:none;
    color:rgba(170, 170, 170, 1);
    box-shadow: 1px 1px 3px #333;
    border-radius:8px;
}

.control button.success{
    background:rgba(79, 202, 139, 1);
    color:#fff;
}

.nav-top .layui-icon-next{
    color :#4FCA8B;
    float:left;
    font-size:25px;
    margin:7px 0 0 20px;
}

.nav-bottom{
    width:calc(100% - 220px);
    float:left;
}

.menu{
    margin-left:30px;
}

.menu button{
    width:100px;
    height:35px;
    margin-right:10px;
    background: #EBEBEB;
    border-radius: 8px 8px 0px 0px;
    border:none;
}

.menu button.active{
    background-color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
}

.container{
    position: relative;
    width:calc(100% - 260px);
    height:100%;
    background-color: #fff;
    border-radius: 5px;
    margin-left:18px;
    float:left;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
}

.container dl .title{
    width: 95%;
    height: 48px;
    margin:30px auto 0;
    padding:0 50px;
    box-sizing: border-box;
    background: #4FCA8B;
    border-radius: 8px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.container dl .title span{
    color:#fff;
    font-size:18px;
}

.container dl .title span.problem{
    padding:0 150px;
}

.container dl .title span.con{
    margin-right:100px;
}

.container dl .answer{
    width: 95%;
    height: 48px;
    margin:0 auto;
    background: #F6F6F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container dl .answer .content{
    margin-left:150px;
}
.container dl .answer .answer-num{
    margin-left:60px;
}

.container dl .answer .btn {
    width:300px;
    margin-right:15px;
    display: flex;
    justify-content: space-between;
}

.container dl .answer .btn button{
    width: 110px;
    height: 35px;
    border-radius: 8px;
    border:none;
}

.container dl .answer .btn button.change{
    background: #4FCA8B;
}
.container dl .answer .btn button.delete{
    background: #FD7B7C;
}

.container .add-answer{
    width:120px;
    height:35px;
    background: #4FCA8B;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.24);
    border:none;
    color:#fff;
    position: absolute;
    left:calc(50% - 60px);
    bottom:334px;
    border-radius: 8px;
}

.container dl{
    display:none;
}
